



@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>
<h3>@Model.Name</h3>
<ul class="list-group">
    <li class="list-group-item">Genre: @Model.Genre.Name</li>
    <li class="list-group-item">Release Date: @Model.ReleaseDate.ToLongDateString()</li>
    <li class="list-group-item">Date Added: @Model.DateAdded.ToLongDateString()</li>
    <li class="list-group-item">Number In Stock: @Model.NumberInStock</li>

</ul>

